@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --rose-pale: #e0b9de;
    --rose-flash: #EB9EE5;
    --couleur-fond: #F4F3EF;
    --noir: #1C1C1A;
    --gris: #4A4A45;
}

body {
    background-color: var(--couleur-fond);
    font-family: 'Montserrat';
}

.navbar {
    height: 61px;
    border-bottom: 1px solid var(--rose-flash);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo,
.footer-logo {
    color: var(--noir);
    font-family: 'DM Serif Display';
    font-size: 20px;
    text-decoration: none;
}

.navbar nav a,
.footer nav a {
    color: var(--gris);
    text-decoration: none;
    font-size:11px;
    font-weight:600;
    letter-spacing:1.5px;
}

.navbar nav,
.footer nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar nav a:hover,
.footer nav a:hover {
    color: var(--rose-flash);
}


footer {
    height: 85px;
    border-top: 1px solid var(--rose-flash);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.footer p {
    font-size: 10px;
}

.footer nav a {
    font-size: 10px;
}

.hero {
    min-height: calc(100vh - 61px - 85px);
     display: flex;
    align-items: center;
    padding: 0 max(10.5vw, 40px);
}

.hero-content {
    margin-top:-2vh;
}

.titre01 {
    color: var(--rose-pale);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom:27px;
}

h1 {
    font-family: 'DM Serif Display';
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2px;
}

h1 span {
    color: var(--rose-pale);
    text-decoration: underline;
}

.intro {
    color: var(--noir);
    font-size:16px;
}

.intro-contact {
    color: var(--noir);
    font-size:26px;
}

.buttons {
    display: flex;
    gap:16px;
}

.btn {
    height:44px;
    padding:0 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-decoration: none;
    font-size:11px;
    font-weight: 600;
}

.btn-primary {
  background:var(--rose-pale);
  color:var(--couleur-fond);
}

.btn-secondary {
  border: 1px solid var(--rose-flash);
  color:var(--noir);
  background:transparent;
}

span {
    color: var(--rose-pale);
}

.about-page {
    min-height: calc(100vh - 61px - 85px);
    padding: 20px 20px;
}

.about-grid {
   max-width: 1180px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.about-left {
    padding-top: 5px;
}

.about-left h1 {
  font-family: "DM Serif Display";
  font-size:50px;
  font-weight:400;
  color:var(--noir);
  margin: 0 0 20px;
}

.about-text {
    max-width: 470px;
}

.about-text p{
   color: var(--noir);
   font-size: 11px;
   margin:0 0 14px;
}

.about-info {
   margin-top:82px;
   padding-top:25px;
   display:grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 40px;
   row-gap: 15px;
}

.info-item span {
    display: block;
    color: var(--rose-flash);
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
}

.info-item p {
    color: var(--noir);
    font-size: 10px;
    margin: 0;
}

.about-right {
    display: flex;
    flex-direction: column;
}

.about-photo{
   height:240px;
   position:relative;
   overflow:hidden;
}

.skills-section {
    margin-top:25px;
}

.skill {
    margin-bottom: 10px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--gris);
    font-size: 10px;
    margin-bottom: 6px;
}

.skill-bar {
    width: 100%;
    height: 2px;
    background: var(--gris);
}

.skill-progress {
    height: 100%;
    background: var(--rose-flash);
}

.competences {
    margin-top: 18px;
}

.competence-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.competence-list span {
   background:var(--gris)
   border-radius: 20px;
   padding:5px 9px;
   color: var(--gris);
   font-size: 6px;
   font-weight: 600;
   letter-spacing: 1.5px;
}